<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar">
            <ul>
                <li><a href="{{ path('index') }}">Home</a></li>
                <li><a href="{{ path('about') }}">About</a></li>
                <li><a href="{{ path('report') }}">Report</a></li>
                <li><a href="{{ path('lucky') }}">Lucky</a></li>
            </ul>
        </nav>

        <header class="circle-header">
            <img src="{{ asset('img/bird1.jpg') }}" alt="Bird">
            <img src="{{ asset('img/bird2.jpg') }}" alt="Bird">
            <img src="{{ asset('img/bird3.jpg') }}" alt="Bird">
        </header>
        
        <main class="main">

            {% block body %}{% endblock %}

        </main>

        <footer class="myfoot">
            <div class="small-circle one"></div>
            <div class="small-circle two"></div>
            <div class="small-circle three"></div>
            <div class="foot-text">@ by Me 2023</div>
            <div class="small-circle three"></div>
            <div class="small-circle two"></div>
            <div class="small-circle one"></div>
        </footer>
    </body>
</html>
