{% extends "cardbase.html.twig" %}

{% block title %}Deck of cards{% endblock %}

{% block body %}
    <div class="index-card">
        <div class="main-card">
            <h1>Mina kort</h1>

            <div class="display-deck">

                {% if remaining_cards %}
                    <div class="deck">
                        <span class="black">{{ remaining_cards }}</span>
                    </div>
                {% endif %}

                {% for card, details in my_deck %}
                    <div class="one-card">
                        <span class="{{ details.color }}">

                            {# {{ details.suit|raw }}<br> #}
                            <i class="{{ details.suit }}"></i><br>
                            {{ details.rank|e }}
                            {# {{ details.value|e }} #}

                        </span> 
                    </div>
                {% endfor %}
            </div>

        </div>



    </div>
    
    
{% endblock %}
