{% extends 'base.html.twig' %}

{% block title %}Mitt bibliotek{% endblock %}

{% block body %}

<div class="index-card">

        <h1>Biblioteket - alla böcker</h1>

        <div class="flash">{{ message }}</div>

        <table class="lib-table">
            <tr>
                <th class="colId">Id</th>
                <th class="colTitle">Titel</th>
                <th class="colAuthor">Författare</th>
                <th class="colIsbn">ISBN</th>
                <th class="colImage">Bild</th>
                <th class="colEdit">Redigera</th>
            </tr>
            
            {% for book in my_books %}
            <tr>
                <td>{{ book.getId }}</td>
                <td><a href="{{ path('read_one', {idNbr: book.getId}) }}">{{ book.getTitle }}</a></td>
                <td>{{ book.getAuthor }}</td>
                <td>{{ book.getIsbn }}</td>
                <td><a href="{{ book.getImage }}">Bild</a></td>
                <td>
                    <a href="{{ path('update', {idNbr: book.getId}) }}">
                        <i class="fa-solid fa-pen-to-square"></i> Redigera 
                    </a>
                    <a href="{{ path('delete', {idNbr: book.getId}) }}">
                        <i class="fa-solid fa-trash-can"></i> Radera
                    </a>
                </td>
            </tr>
            {% endfor %}
        </table>


    <div class="lib-bottom">
        <p><a href="{{ path('app_library') }}">Biblioteket - start</a></p>
    </div>

</div>
{% endblock %}
